<div class="card border-success mt-4">
  <h3 class="card-header bg-success">Child Component</h3>
  <div class="card-body">
    <h4 class="card-title">Student Create</h4>
    <div class="form-group">
      <label>Name: </label>
      <input type="text" class="form-control" #name>
    </div>
    <div class="form-group">
      <label>Age: </label>
      <input type="number" class="form-control" #age>
    </div>
    <button type="button" class="btn btn-primary" (click)="onClick(name.value, age.value)">Create</button>
  </div>
</div>
