<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/common/layout::header}">
    <meta charset="UTF-8">
    <title>CUSTOMER-LIST</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/jquery-ui-1.12.1/jquery-ui.min.css}">
<style>
    th {
        align-items: center;
        color: #fd7e14;
        background-color: darkslategray;
        font-size: 20px;
    }

    td {

        height: 35px;

    }

    tr {
        text-align: center;
        align-content: center;
    }

    label {
        color: black;
        font-weight: bolder;

    }
</style>
<body>
<div th:replace="~{/common/layout::navbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12" style="border: 1px solid darkblue">
            <div style="text-align: center;padding-top: 10px">
                <h2 style="color: red;font-weight: bold;font-size: 25px">List Service of Furama </h2>
            </div>
            <div style="padding-top: 0px" sec:authorize="hasAnyRole('EDITTOR','ADMIN')">
                <a class="btn btn-outline-success" data-toggle="modal" data-target="#elegantModalForm" role="button"
                   style="font-weight: bolder;font-size: 20px"><i class="fas fa-plus-square"></i> Add New Service</a>
            </div>
            <div class="table-responsive-lg">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Area</th>
                        <th scope="col">Cost</th>
                        <th scope="col">MaxPeople</th>
                        <th scope="col">Rent-Type</th>
                        <th scope="col">Service-Type</th>
                        <th scope="col" sec:authorize="hasAnyRole('EDITTOR','ADMIN')">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sv,rowStat:${serviceList}">
                        <td th:text="${sv.getServiceId()}"></td>
                        <td th:text="${sv.getServiceName()}"></td>
                        <td th:text="${sv.getArea()}"></td>
                        <td th:text="${sv.getServiceCost()}"></td>
                        <td th:text="${sv.getMaxPeople()}"></td>
                        <td th:text="${sv.getRentType().getRentTypeName()}"></td>
                        <td th:text="${sv.getServiceType().getServiceTypeName()}"></td>
                        <td style="color: goldenrod;font-weight: bolder" sec:authorize="hasAnyRole('EDITTOR','ADMIN')">
                            <a th:href="@{/service/edit/{id}(id=${sv.getServiceId()})}"
                               class="btn btn-outline-warning" role="button"><i class="fas fa-user-edit"></i>
                                Edit</span></a>
                            <button th:href="@{/service/delete/{id}(id=${sv.getServiceId()})}"
                                    class="btn btn-outline-danger" role="button" data-toggle="modal"
                                    th:data-target="'#'+${sv.getServiceId()}"><i class="far fa-trash-alt"></i> Delete
                            </button>
                            <button th:href="@{/service/detail/{id}(id=${sv.getServiceId()})}"
                                    class="btn btn-outline-success" role="button" data-toggle="modal1"
                                    th:data-target="'#'+${sv.getServiceId()}"><i class="fas fa-info-circle"></i> Detail
                            </button>
                        </td>
                        <!-- ---------------------------DELETE----------------------------------- -->
                        <!-- Modal -->
                        <div class="modal fade" th:id="${sv.getServiceId()}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2"
                                            id="exampleModalLabel" style="color: red"><strong>Do you want to
                                            delete?</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="color: yellowgreen">
                                        <strong>
                                            <h5 th:text="'ID-Service : ' + ${sv.getServiceId()}"></h5>
                                            <h5 th:text="'Name-Service : ' + ${sv.getServiceName()}"></h5>
                                            <h5 th:text="'Type-Service : ' + ${sv.getServiceType().getServiceTypeName()}"></h5>
                                        </strong>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-success"
                                                data-dismiss="modal">Cancel
                                        </button>
                                        <a th:href="@{/service/delete/{id}(id=${sv.getServiceId()})}">
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <a th:href="@{'/service'(page=${serviceList.number - 1})}" th:if="${serviceList.hasPrevious()}"><i
                            class="fas fa-backward"></i></a>
                    <span th:text="${serviceList.number + 1}"></span>/<span
                        th:text="${serviceList.totalPages}"></span>
                    <a th:href="@{'/service'(page=${serviceList.number + 1})}"
                       th:if="${serviceList.hasNext()}"><i class="fas fa-forward"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------------------------------------CREATE-CUSTOMER----------------------------------------------->
<form th:object="${service}" th:action="@{/service/save}" method="post">
    <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <!--Content-->
            <div class="modal-content form-elegant">
                <!--Header-->
                <div class="modal-header text-center">
                    <div class="form-group" style="margin-left: 280px">
                        <label style="color: darkblue;font-weight: bolder"><h3>ADD NEW SERVICE</h3></label><br>
                        <hr>
                        <label for="typeService">Type Service:</label>
                        <select id="typeService" th:field="*{serviceType}" style="width: 100%; height: 37px"
                                onchange="displayHiddenItem()">
                            <option th:each="type : ${serviceTypeList}" th:value="${type.serviceTypeId}"
                                    th:text="${type.serviceTypeName}"></option>
                        </select>
                    </div>
                    <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--                        <span aria-hidden="true">&times;</span>-->
                    <!--                    </button><br>-->
                </div>
                <!--Body-->
                <div class="modal-body" style="text-align:center">
                    <!--Body-->
                    <input type="hidden" id="valid" th:value="${#fields.hasErrors()}">
                    <div class="row">
                        <div class="col-xl-1"></div>
                        <div class="row col-xl-10" style="background-color: ghostwhite">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label for="id">ID Service:</label>
                                    <input type="text" class="form-control" th:field="*{serviceId}" id="id"
                                           placeholder="Example: DV-1234">
                                    <span style="color: red" th:field="*{#fields.hasErrors('serviceId')}" th:errors="*{serviceId}"></span>
                                </div>
                                <div class="form-group">
                                    <label for="name">Name Service:</label>
                                    <input type="text" th:field="*{serviceName}" class="form-control" id="name">
                                    <span style="color: red" th:field="*{#fields.hasErrors('serviceName')}" th:errors="*{serviceName}"></span>
                                </div>
                                <div class="form-group">
                                    <label for="area">Area Service:</label>
                                    <input type="text" th:field="*{area}" class="form-control" id="area">
                                    <span style="color: red" th:field="*{#fields.hasErrors('area')}" th:errors="*{area}"></span>
                                </div>
                                <div class="form-group">
                                    <label for="cost">Rent-Cost:</label>
                                    <input type="text" th:field="*{serviceCost}" class="form-control" id="cost">
                                </div>
                                <div class="form-group">
                                    <label for="maxPeople">Max People:</label>
                                    <input type="text" th:field="*{maxPeople}" class="form-control" id="maxPeople">
                                    <span style="color: red" th:field="*{#fields.hasErrors('maxPeople')}" th:errors="*{maxPeople}"></span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label for="rentType">Rent Type:</label>
                                    <select id="rentType" th:field="*{rentType}" style="width: 100%; height: 37px">
                                        <option th:each="rent : ${rentTypeService}" th:value="${rent.rentTypeId}"
                                                th:text="${rent.rentTypeName}"></option>
                                    </select>
                                </div>
                                <div class="form-group" id="hiden1">
                                    <label for="standardRoom">Standard Room:</label>
                                    <input type="text" th:field="*{standardRoom}" class="form-control"
                                           id="standardRoom">
                                    <span style="color: red" th:field="*{#fields.hasErrors('standardRoom')}" th:errors="*{standardRoom}"></span>
                                </div>
                                <div class="form-group" id="hiden2">
                                    <label for="description">Description Other:</label>
                                    <input type="text" class="form-control" th:field="*{description}" id="description">
                                    <span style="color: red" th:field="*{#fields.hasErrors('description')}" th:errors="*{description}"></span>
                                </div>
                                <div class="form-group" id="hiden3">
                                    <label for="areaPool123">Area Pool:</label>
                                    <input type="text" th:field="*{areaPool}" class="form-control" id="areaPool123">
                                </div>
                                <div class="form-group" id="hiden4">
                                    <label for="numberFloor">Number Of Floor:</label>
                                    <input type="text" th:field="*{numberFloor}" class="form-control" id="numberFloor">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4"></div>
                        <div class="col-xl-4">
                            <input class="btn btn-danger" style="width: 80px;float: left " type="submit"
                                   role="button"
                                   value="Save">
                            <a role="button" th:href="@{/service}" class="btn btn-success"
                               style="width: 80px;float: right">Back</a>
                        </div>
                        <div class="col-xl-4"></div>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer mx-5 pt-3 mb-1 text-center">
                    <h4 class="font-small grey-text d-flex justify-content-end"></h4>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    </div>
</form>
<footer th:replace="~{/common/layout::footer}"></footer>
</body>
<script>
    function displayHiddenItem() {
        let typeService = document.getElementById("typeService").value;
        let standard = document.getElementById("hiden1");
        let description = document.getElementById("hiden2");
        let areaPool = document.getElementById("hiden3");
        let numberFloor = document.getElementById("hiden4");
        if (typeService === '1') {
            standard.style.display = "block";
            description.style.display = "block";
            numberFloor.style.display = "block";
            areaPool.style.display = "block";
        } else if (typeService === '2') {
            standard.style.display = "block";
            description.style.display = "block";
            numberFloor.style.display = "block";
            areaPool.style.display = "none";
        } else if (typeService === '3') {
            standard.style.display = "none";
            description.style.display = "none";
            areaPool.style.display = "none";
            numberFloor.style.display = "none";
        }
    }
</script>
<script>
    if ($("#valid").val() == 'true') {
        let typeService = document.getElementById("typeService").value;
        let standard = document.getElementById("hiden1");
        let description = document.getElementById("hiden2");
        let areaPool = document.getElementById("hiden3");
        let numberFloor = document.getElementById("hiden4");
        if (typeService === '1') {
            standard.style.display = "block";
            description.style.display = "block";
            numberFloor.style.display = "block";
            areaPool.style.display = "block";
        } else if (typeService === '2') {
            standard.style.display = "block";
            description.style.display = "block";
            numberFloor.style.display = "block";
            areaPool.style.display = "none";
        } else if (typeService === '3') {
            standard.style.display = "none";
            description.style.display = "none";
            areaPool.style.display = "none";
            numberFloor.style.display = "none";
        }
        $("#elegantModalForm").modal("show");
    }
</script>
</html>