<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="dungsi" class="model.DependencyInjection.DungSiThongThai">
    <constructor-arg ref="nhiemvu"/>
</bean>

<bean id="nhiemvu" class="model.DependencyInjection.NhiemVuMuaRau">
</bean>

</beans>