<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css"/>
    <script type="text/javascript"
            src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
</head>
<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/book}">Manager Book</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/books/">Book</a>-->
<!--                </li>-->
            </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" name="s" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</header>

<div class="container">
    <center>
        <h2>List book</h2>
    </center>
    <div class="row form-group">
        <a th:href="@{/book/create}" class="btn btn-lg " style="background-color:transparent;"><i
                class="fa fa-plus-square"></i> Create New books</a>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr class="row">
            <th class="col-md-4 ">Name book</th>
            <th class="col-md-4 ">Amount</th>
            <th class="col-md-4">Action</th>

        </tr>
        </thead>
        <tr class="row" th:each="book : ${books}">
            <td class="col-md-4 "><a th:href="@{/view/__${book.id}__}" th:text="${book.nameBook}"></a></td>
            <td class="col-md-4 " th:text="${book.amount}"></td>
            <td class="col-md-4" style="padding: 0; margin: 0">
                <a th:href="@{/edit/__${book.id}__}" class="btn btn-lg" style="background-color:transparent">
                    <i class="fa fa-edit"></i>
                </a>
                <a th:href="@{/delete/__${book.id}__}" style="background-color:transparent;" class="btn">
                    <i class="fa fa-trash"></i>
                </a>
                <a th:href="@{/toRentBook/__${book.id}__}" class="btn btn-lg" style="background-color:transparent">
                    <i class="fa fa-address-book-o"></i>
                </a>
            </td>
        </tr>
    </table>
</div>
<form action="/give_book_back" method="get">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Give Book">
            </div>
        </div>
    </div>
</form>
</body>
</html>