<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<iframe id="img-of-the-day"
        width="560" height="315" frameborder="0" allowfullscreen></iframe>
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=D95XEV2pnAXk8ftEVqZ88xQ75IkhSc6p6uNvEwj8';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
<br>
<form action="/create-comment" method="post" th:object="${comment}">
    <select th:field="*{mark}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    Author: <input type="text" th:field="*{author}">
    <br>
    Feedback: <textarea th:field="*{feedback}"></textarea>
    <br>
    <button type="submit">Comment</button>
</form>
</body>
</html>