<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/layout :: head"></head>
<body>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/blog}">
        Back to Blog list
    </a>
</p>
<div id="form">
    <form th:action="@{/blog/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <div>
            <input type="hidden" th:field="*{id}"/>
        </div>
        <div>
            <label>Name-Blog</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Title-Blog</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c : ${category}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <div>
            <label>Content</label><br>
            <textarea style="height: 300px;width: 500px" th:field="*{content}"></textarea>
        </div>
        <input type="submit" value="Save">
    </form>
</div>
<footer th:replace="/common/layout :: footer"></footer>
</body>
</html>