<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/product/layout::header}">
    <title>Title</title>
</head>
<body>


<section class="sections random-product">
    <div class="container-fluid">
        <div class="container">
            <div class="card-header bg-dark text-light mb-2">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Product List
                <a href="/cart" class="btn btn-danger btn-sm float-right">Cart</a>
                <div class="clearfix"></div>
            </div>
            <th:block th:with="colCount=${4}">
                <div th:each="r : ${#numbers.sequence(0, productList.size(), colCount)}"  class="row">
                    <div th:each="c : ${#numbers.sequence(0, colCount - 1)}" th:if="${r + c &lt; productList.size()}" th:with="product = ${productList.get(r + c)}" class="col-md-3 card-item">
                        <a th:href="@{/product/detail/{id}(id=${product.id})}">
                        <div class="card">
                            <img class="card-img-top h-50vh" th:src="${product.image}" alt="I phone 11">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span class="text-decoration-none" th:text="${product.name}"></span>
                                </h5>
                            </div>
                            <div class="card-footer">
                                <div class="badge badge-danger float-right" th:text="${product.discount} + '%'"></div>
                                <div class="float-left">
                                    <span class="text-danger" th:text="${#numbers.formatDecimal(product.price - (product.price*product.discount/100), 0, 'COMMA', 0, 'POINT')} + ' VND'"></span>
                                    <br>
                                    <small class="text-muted"><del th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' VND'"></del></small>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div><!--.container-->
    </div><!--.container-fluid-->
</section>


<!-- Modal -->
<div class="modal fade modal-lg" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Product Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{/product/layout::footer}"></footer>

<script>
    $(document).ready(function () {
        $(".card-item").click(function () {
            console.log("OK");
            let urlDetail = $(this).find("a").attr("href");
            console.log(urlDetail);
            $.ajax({
                type: "GET",
                url: urlDetail,
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $('#modelId').modal('show');
                }
            });
            event.preventDefault();
        });
        $(".card-item").click(function () {

        })
    });
</script>
</body>
</html>