<div class="p-0">
  <!--  <div class="row justify-content-center p-5">-->
  <!--    <div style="font-size: 200px">-->
  <!--      <i class="fa fa-android"></i>-->
  <!--    </div>-->
  <!--    <p style="font-size: 45px;color: red;font-weight: bolder;font-style: italic" >Error. File Not Found (@_@) !!</p>-->
  <!--  </div>-->
  <img style="height: 560px;width:100% "
       src="https://freefrontend.com/assets/img/html-css-404-page-templates/Pure-CSS-404-Error-Page.gif" (click)="goBackHome()">
</div>
